:root {
    --textcolor: #fff;
    --bgcolor0: #ffffff; /* #021c1e; */
    --bgcolor1: #004445; /*  #004445; */
    --bgcolor3: #6fb98f;
      --bg-color: #fcfcfc;
      --primary-shadow: #004445;
      --bottom-margin: 0.5rem;
      --line-height: 1.7rem;
  }
  html {
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 1.3;
    background: var(--bgcolor0);
  }
    /* Header section */
  header {
    position: sticky; top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--bgcolor1);
    color:var(--textcolor);
    margin-bottom: 50px;
    z-index: 1; /* ---Set a z-index here--- */
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 150%;
    margin-bottom: 10px;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    margin-right: 50px;
  }
    
  nav a {
    color:var(--textcolor);
    font-weight: bold;
    font-size: 125%;
    text-decoration: none;
  }
  /* Header section ends */

  /* Footer section */
  footer {
    justify-content: center;
    bottom: 0;
    padding: 10px;
    text-align: center;
    background:var(--bgcolor1);
    color:white;
    margin-top: auto;
  }
  
  footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 50px;
    font-size: 150%;
  }

  footer ul li {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  /* Footer section ends */

  /* Anchors */
  a {
    color:white;
    text-decoration: none;
  }

  section a {
    font-size: 125%;
    color:black;
    text-decoration: none;
  }
  
  a:hover {
    color: var(--bgcolor3)
  }
  /* Anchors end */

  /* Hero section */
.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  height: 20rem;
  width: 20rem;
  border-radius: 200px;
}

.bio {
  background-color: #fcfcfc;
  width: 28rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}
/* Hero section ends */

/* Projects section */
.projects {
  background: var(--bgcolor0);
  background-color: var(--bg-color)0;
  padding: 32px 0;
  margin-top: 2rem;
}

.project-card:hover {
  border-width: 3px;
  transform: scale(1.1);  
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-pic {
  max-width: 400px;
  max-height: 200px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  flex-shrink: 1;
  text-align: center;
  width: 30rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  font-size: 125%;
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

/* Projects section ends */

/* Social buttons */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2.5rem;
  height: 2.5rem;
}

.socicon:hover {
  transform: scale(1.3);  
}
/* Social button ends */

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}
/* Scroll to top button ends */

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  
  nav {
      width: 100%;
      flex-direction: column;
      justify-content: center;
    padding: 1.5rem 1rem;
    
  }

  header {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  nav ul li {
    margin: 8px;
  }


  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    flex-direction: column;
    height: 15rem;
    width: 15rem;
  }

  .bio {
    flex-direction: column;
    margin-top: 2rem;
    width: 20.5rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }
  .project-pic{
    width: 15rem;
  }
  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    height: 10rem;
    width: 10rem;
    flex-direction: column;
  }
  
  header {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }


  .bio {
    width: 18.3rem;
    flex-direction: column;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}

